:root {
    --background-primary: #000000;
    --background-secondary: #000000;
    --background-tertiary: #000000;
    --background-accent: #000000;
    --background-floating: #000000;
    --text-normal: #dcddde;
    --text-muted: #72767d
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-primary);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-normal)
}

#loading {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center
}

#loading>div {
    width: 32px;
    height: 32px;
    border: 4px solid var(--text-normal);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner .5s infinite linear
}

#wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

footer {
    position: fixed;
    bottom: 16px;
    right: 16px;
    user-select: none
}

.tippy-box[data-theme~=dark] {
    background-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=top]>.tippy-arrow::before {
    border-top-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=bottom]>.tippy-arrow::before {
    border-bottom-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=left]>.tippy-arrow::before {
    border-left-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=right]>.tippy-arrow::before {
    border-right-color: #141414
}

@keyframes spinner {
    from {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(360deg)
    }
}
h1 {
    color: #857e7ee8;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 1px;
    position:absolute;
  
  
  
  }
  footer{
    text-shadow: #000000 1px 1px 10px;
  }
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .vidoverlay {
    position: fixed;
    mix-blend-mode: screen;
    opacity: 50%;
  }
  
  
  
  
  
  .graffiti {
    font-family: "LaachirDeeper", sans-serif
  }
  
  #overlay-toggle {
    position:absolute;
    display: none;
  }
  
  .overlay {
    z-index: 1;
    background-color: #000001;

  }
  
  .overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;

  }
  
  .no-hover {
    display: block;
  }
  
  .fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
  }
  
  body {
  
    background-color:#000001!important;
    color:#fff!important
  }
  
  .hover {
    text-decoration:none;
    color:gray!important;
    transition:.4s!important;
  }
  
  .hover:hover {
    transition:.4s!important;
    color:#fff!important
  }
  
  span::before {
    content:'\A';
    white-space:pre
  }
  
  
  #center {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%)
  }
  
  #overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
  }
  
  #overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  
  #canvas-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
  }
  
  @font-face {
    font-family: "LaachirDeeper-Bold";
    src: url(LaachirDeeper-Bold.ttf);
  }
  
  @media(hover: hover) {
    .overlayhover {
      display: block;
    }
    .overlayno-hover {
      display: none;
    }
  }
  
  @keyframes fade{
    to {
      opacity: 0;
    }
  }
  
  @keyframes hide {
    to {
      visibility: hidden;
    }
  }
  
  
